[Desktop Entry]
Name=Rust Flatpak Spectre
Comment=Rust Flapaked Gtk Spectre application
Type=Application
# should be the same as the Cargo project name
Exec=spectre-gtk
Terminal=false
Categories=Utility;GTK;
Keywords=Rust;Flatpak;GTK;Spectre;
Icon=com.github.spectre
StartupNotify=true