[Desktop Entry]
Name=Rust Flatpak Spectre
Comment=Rust Flapaked Gtk Spectre application
Type=Application
# should be the same as the Cargo project name
Exec=rust-spectre
Terminal=false
Categories=Utility;GTK;
Keywords=Rust;Flatpak;GTK;Spectre;
Icon=org.gnome.spectre
StartupNotify=true